# Project dirs
build/
documentation/_build

# Python
.ipynb_checkpoints
*.pyc
*.pyo
__pycache__/
*.egg-info


# other shite
.vscode
chempiler_output/
logs/
crash_dump/

# xdl execution files
*.xdlexe

# temp xdl file for testing
new_xdl.xdl
