# Project dirs
build/
documentation/_build

# Python
.ipynb_checkpoints
*.pyc
*.pyo
__pycache__/
*.egg-info
.mypy_cache/
*.ipynb


# other shite
.vscode
chempiler_output/
logs/
crash_dump/

# xdl execution files
*.xdlexe

# temp xdl file for testing
new_xdl.xdl

# log files
*.log
**/iterations*
*.tsv

# analytical data
*.pickle
*.png
*.1d
*.par
*.dx
*.jpg
*.script
*.7z

tests/example
**/_archive

# state file
**/chemputer_state.json
