xdl @ git+ssh://git@gitlab.com/croningroup/chemputer/xdl.git#egg=xdl
chemputerxdl @ git+ssh://git@gitlab.com/croningroup/chemputer/chemputerxdl.git#egg=chemputerxdl
AnalyticalLabware @ git+ssh://git@gitlab.com/croningroup/chemputer/analyticallabware.git#egg=AnalyticalLabware[agilent,spinsolve,oceanoptics]
chempiler @ git+ssh://git@gitlab.com/croningroup/chemputer/chemputerxdl.git#egg=chempiler