xdl @ git+ssh://git@gitlab.com/croningroup/chemputer/xdl.git#egg=xdl
AnalyticalLabware @ git+ssh://git@gitlab.com/croningroup/chemputer/analyticallabware.git#egg=AnalyticalLabware[agilent,spinsolve,oceanoptics]